:root {
  --color-white: #ffffff;
  --color-black: black;
  --color-accent: #fdb71a;
  --color-accent-alt: #fd881a;
  --color-light-grey-trans60: #807c7c99;
  --color-dark-grey: #0000001a;

  --font-family-base: "Inter 18pt", sans-serif;
  --font-family-alt: "InterstellarW00", sans-serif;

  --transition-duration: 0.5s;

  --container-width: 1200px;
  --container-padding-x: clamp(1rem, 0.133rem + 3.7vw, 2.5rem);
  --button-height: 72px;
  --button-height-s: 57px;

  @media (min-width: 1025px) {
    --container-width: clamp(75rem, 83.33vw, 100rem);
  }

  /*
  --animation-delay: 1s;
  --scale: scale(1.15); */

  --desktop-above: 1921px;
  --desktop: 1920px;

  --laptop-above: 1729px;
  --laptop: 1728px;

  --laptop-s-above: 1441px;
  --laptop-s: 1440px;

  --tablet-above: 1025px;
  --tablet: 1024px;

  --tablet-s-above: 769px;
  --tablet-s: 768px;

  --phone-above: 376px;
  --phone: 375px;
}

body {
  font-family: var(--font-family-base);
  font-weight: 400;
  line-height: 1.28;
}

/* button,
input {
  height: var(--button-height);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid var(--color-white);
  border-radius: 8px;
  background-color: transparent;
  color: var(--color-white);
} */

button {
  display: flex;
  background-color: transparent;
  padding: 0;
  border: none;
}

a,
button,
textarea,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  margin-inline: auto;
  padding-inline: var(--container-padding-x);
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  -webkit-clip-path: inset(100%) !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (max-width: 1365px) {
  .hidden-mobile {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}

@media (min-width: 1366px) {
  .visible-mobile {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
  }
}

.content-size {
  display: flex;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-shadow {
  filter: drop-shadow(0px 2px 4px var(--color-dark-grey))
    drop-shadow(0px 4px 6px var(--color-dark-grey));
}

/*? header хедер */

.header {
  position: sticky;
  top: 0;
  width: 100%;
  transition: transform var(--transition-duration) ease;
  z-index: 1000;
  background-color: var(--color-white);
}

.header--hidden {
  transform: translate3d(
    0,
    -100%,
    0
  ); /* Сдвигает хедер вверх за пределы видимости */
}

.header__body {
  justify-content: space-between;
  padding-bottom: 20px;
  padding-top: clamp(1.25rem, -2.125rem + 3.13vw, 1.625rem);
}

/*? header nav навигация хедера */

.header__nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
@media (min-width: 1366px) {
  .header__nav {
    width: auto;
    flex-direction: row;
    flex-grow: 1;
  }
}

/*? logo лого */
.header__logo {
  display: flex;
  gap: 8px;
}

.header__logo-text {
  min-width: 104px;
  font-family: var(--font-family-alt);
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--color-black);
}

.header__burger-button {
  transition-duration: var(--transition-duration);
}
@media (hover: hover) {
  .header__burger-button:hover {
    filter: drop-shadow(0px 2px 4px var(--color-dark-grey))
      drop-shadow(0px 4px 6px var(--color-dark-grey));
  }
}
@media (hover: none) {
  .header__burger-button:active {
    filter: drop-shadow(0px 2px 4px var(--color-dark-grey))
      drop-shadow(0px 4px 6px var(--color-dark-grey));
  }
}

/*? мобайл оверлей*/

.mobile-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: none;
  color: var(--color-black);
  background-color: var(--color-dark-grey);
}
.mobile-overlay:modal {
  max-width: 100%;
  max-height: 100%;
}

.mobile-overlay__body {
  border-radius: 8px;
  background-color: var(--color-white);
}
.header__nav-list {
  width: 100%;
  padding-top: 44px;
  padding-inline: 16px;
  flex-direction: column;
  row-gap: clamp(2.5rem, 1.243rem + 5.36vw, 3.75rem);
}
@media (min-width: 1366px) {
  .header__nav-list {
    flex-direction: row;
    justify-content: center;
    column-gap: 60px;
    padding: 0;
  }
}

.header__item {
  width: 100%;
  text-align: center;
}
@media (min-width: 1366px) {
  .header__item {
    width: auto;
  }
}

.header__link {
  padding: 10px;
  font-size: 18px;
  letter-spacing: -0.025em;
  border-radius: 10px;
  line-height: 28px;
}
@media (hover: hover) {
  .header__link:hover {
    box-shadow: 0px 4px 6px -4px var(--color-dark-grey);
  }
}
@media (hover: none) {
  .header__link:active {
    box-shadow: 0px 4px 6px -4px var(--color-dark-grey);
  }
}

body:has(dialog[open]) {
  overflow: clip;
}

.header__buttons-list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px 10px;
  justify-items: stretch;
  align-items: center;
  padding-top: clamp(2.5rem, 1.243rem + 5.36vw, 3.75rem);
  padding-inline: 16px;
  padding-bottom: 23px;
}
@media (min-width: 1366px) {
  .header__buttons-list {
    padding: 0;
    width: auto;
    margin-left: auto;
    display: flex;
    gap: 12px;
  }
}

.header__buttons-item:first-of-type {
  justify-content: flex-start;
}

.header__buttons-item:last-of-type {
  justify-content: flex-end;
}

/*? lang кнопкa языка*/
.header__lang {
  position: relative;
}

.hidden-summary-arrow {
  list-style: none;
}
.hidden-summary-arrow::-webkit-details-marker {
  display: none;
}

.header__lang-cont {
  padding: 10px;
  border: 1px solid var(--color-dark-grey);
  gap: 7px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: -0.011em;
  transition-duration: var(--transition-duration);
  cursor: pointer;
}

.header__lang-links-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--color-dark-grey);
}

.header__lang-links-list {
  background-color: var(--color-white);
  border: 1px solid var(--color-dark-grey);
  position: absolute;
  bottom: 0;
  left: 0;
  color: var(--color-white);
  border-radius: 8px;
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
@media (min-width: 1366px) {
  .header__lang-links-list {
    bottom: auto;
    left: auto;
    top: 0;
    right: 0;
  }
}

.header__lang-links-item {
  background-color: var(--color-white);
  border-radius: 8px;
  padding: 5px;
  transition-duration: var(--transition-duration);
}
.header__lang-links-item--active {
  background-color: var(--color-accent);
}
@media (hover: hover) {
  .header__lang-links-item:hover {
    box-shadow: 0px 4px 6px -4px var(--color-dark-grey);
  }
}
@media (hover: none) {
  .header__lang-links-item:active {
    box-shadow: 0px 4px 6px -4px var(--color-dark-grey);
  }
}

.header__lang-link {
  color: var(--color-black);
  display: flex;
  gap: 7px;
  align-items: center;
}

@media (hover: hover) {
  .header__basket:hover {
    box-shadow: 0px 4px 6px -4px var(--color-dark-grey);
  }
}
@media (hover: none) {
  .header__basket:active {
    box-shadow: 0px 4px 6px -4px var(--color-dark-grey);
  }
}

.header__order {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.01em;
  padding: 8px 16px;
  background-color: var(--color-accent);
  border-radius: 8px;
}
@media (hover: hover) {
  .header__order:hover {
    color: var(--color-white);
    background-color: var(--color-accent-alt);
    filter: drop-shadow(0px 2px 4px var(--color-dark-grey))
      drop-shadow(0px 4px 6px var(--color-dark-grey));
  }
}
@media (hover: none) {
  .header__order:active {
    color: var(--color-white);
    background-color: var(--color-accent-alt);
    filter: drop-shadow(0px 2px 4px var(--color-dark-grey))
      drop-shadow(0px 4px 6px var(--color-dark-grey));
  }
}

/*? main*/
.hero {
  background-color: #fdb71a;
  width: 100%;
  aspect-ratio: 1090 / 1082;
}

/*добавить крестик на мобильное меню*/
